In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
data_df = pd.read_csv("Resourses/Heart_disease_data.csv")
data_df.head()

,AGE,GENDER,HEIGHT,WEIGHT,AP_HIGH,AP_LOW,CHOLESTEROL,GLUCOSE,SMOKE,ALCOHOL,PHYSICAL_ACTIVITY,CARDIO_DISEASE
0,50,2,168,62,110,80,1,1,0,0,1,0
1,55,1,156,85,140,90,3,1,0,0,1,1
2,52,1,165,64,130,70,3,1,0,0,0,1
3,48,2,169,82,150,100,1,1,0,0,1,1
4,48,1,156,56,100,60,1,1,0,0,0,0

In [3]:
data_df.count()

AGE                  68783
GENDER               68783
HEIGHT               68783
WEIGHT               68783
AP_HIGH              68783
AP_LOW               68783
CHOLESTEROL          68783
GLUCOSE              68783
SMOKE                68783
ALCOHOL              68783
PHYSICAL_ACTIVITY    68783
CARDIO_DISEASE       68783
dtype: int64

In [23]:
values_entered = data_df.replace({"GENDER": {1 : "Female", 2 : "Male"}, 
                          "CHOLESTEROL": {1: "Normal", 2: "Above Normal", 3: "High"},
                          "GLUCOSE": {1: "Normal", 2: "Above Normal", 3: "High"},
                          "SMOKE": {0: "Non-Smoker", 1: "Smoker"},
                          "ALCOHOL": {0: "Non-Drinker", 1: "Drinker"},
                          "PHYSICAL_ACTIVITY": {0: "Does not Exercise", 1: "Does Exercise"},
                          "CARDIO_DISEASE": {0: "No Cardio related Diesease", 1: "Evidence of Cardio Disease"}})
values_entered

,AGE,GENDER,HEIGHT,WEIGHT,AP_HIGH,AP_LOW,CHOLESTEROL,GLUCOSE,SMOKE,ALCOHOL,PHYSICAL_ACTIVITY,CARDIO_DISEASE
0,50,Male,168,62,110,80,Normal,Normal,Non-Smoker,Non-Drinker,Does Exercise,No Cardio related Diesease
1,55,Female,156,85,140,90,High,Normal,Non-Smoker,Non-Drinker,Does Exercise,Evidence of Cardio Disease
2,52,Female,165,64,130,70,High,Normal,Non-Smoker,Non-Drinker,Does not Exercise,Evidence of Cardio Disease
3,48,Male,169,82,150,100,Normal,Normal,Non-Smoker,Non-Drinker,Does Exercise,Evidence of Cardio Disease
4,48,Female,156,56,100,60,Normal,Normal,Non-Smoker,Non-Drinker,Does not Exercise,No Cardio related Diesease
...,...,...,...,...,...,...,...,...,...,...,...,...
68778,53,Male,168,76,120,80,Normal,Normal,Smoker,Non-Drinker,Does Exercise,No Cardio related Diesease
68779,62,Female,158,126,140,90,Above Normal,Above Normal,Non-Smoker,Non-Drinker,Does Exercise,Evidence of Cardio Disease
68780,52,Male,183,105,180,90,High,Normal,Non-Smoker,Drinker,Does not Exercise,Evidence of Cardio Disease
68781,61,Female,163,72,135,80,Normal,Above Normal,Non-Smoker,Non-Drinker,Does not Exercise,Evidence of Cardio Disease
68782,56,Female,170,72,120,80,Above Normal,Normal,Non-Smoker,Non-Drinker,Does Exercise,No Cardio related Diesease

In [31]:
values_entered.value_counts("CARDIO_DISEASE")

CARDIO_DISEASE
No Cardio related Diesease    34742
Evidence of Cardio Disease    34041
dtype: int64

In [37]:
values_entered["AGE"].max()

65

In [ ]:
while input == 'metric':
    height = float(input('Please enter your height input meters(decimals): '))
    weight = int(input('Please enter your weight input kg: '))
    bmi = weight/(height*height)
    if bmi <= 18.5:
        print('Your BMI is', bmi,'which means you are underweight.')
    elif bmi > 18.5 and bmi < 25:
        print('Your BMI is', bmi,'which means you are normal.')
    elif bmi > 25 and bmi < 30:
        print('your BMI is', bmi,'overweight.')
    elif bmi > 30:
        print('Your BMI is', bmi,'which means you are obese.')
    else:
        print('There is an error with your input')
        print('Please check you have entered whole numbers\n'
              'and decimals were asked.')

In [58]:
height = (values_entered["HEIGHT"]**2)/10000
height

0        2.8224
1        2.4336
2        2.7225
3        2.8561
4        2.4336
          ...
68778    2.8224
68779    2.4964
68780    3.3489
68781    2.6569
68782    2.8900
Name: HEIGHT, Length: 68783, dtype: float64

In [59]:
values_entered["BMI"] = (values_entered['WEIGHT']/height)
values_entered["BMI"]

0        21.967120
1        34.927679
2        23.507805
3        28.710479
4        23.011177
           ...
68778    26.927438
68779    50.472681
68780    31.353579
68781    27.099251
68782    24.913495
Name: BMI, Length: 68783, dtype: float64

In [60]:
values_entered

,AGE,GENDER,HEIGHT,WEIGHT,AP_HIGH,AP_LOW,CHOLESTEROL,GLUCOSE,SMOKE,ALCOHOL,PHYSICAL_ACTIVITY,CARDIO_DISEASE,BMI
0,50,Male,168,62,110,80,Normal,Normal,Non-Smoker,Non-Drinker,Does Exercise,No Cardio related Diesease,21.967120
1,55,Female,156,85,140,90,High,Normal,Non-Smoker,Non-Drinker,Does Exercise,Evidence of Cardio Disease,34.927679
2,52,Female,165,64,130,70,High,Normal,Non-Smoker,Non-Drinker,Does not Exercise,Evidence of Cardio Disease,23.507805
3,48,Male,169,82,150,100,Normal,Normal,Non-Smoker,Non-Drinker,Does Exercise,Evidence of Cardio Disease,28.710479
4,48,Female,156,56,100,60,Normal,Normal,Non-Smoker,Non-Drinker,Does not Exercise,No Cardio related Diesease,23.011177
...,...,...,...,...,...,...,...,...,...,...,...,...,...
68778,53,Male,168,76,120,80,Normal,Normal,Smoker,Non-Drinker,Does Exercise,No Cardio related Diesease,26.927438
68779,62,Female,158,126,140,90,Above Normal,Above Normal,Non-Smoker,Non-Drinker,Does Exercise,Evidence of Cardio Disease,50.472681
68780,52,Male,183,105,180,90,High,Normal,Non-Smoker,Drinker,Does not Exercise,Evidence of Cardio Disease,31.353579
68781,61,Female,163,72,135,80,Normal,Above Normal,Non-Smoker,Non-Drinker,Does not Exercise,Evidence of Cardio Disease,27.099251
68782,56,Female,170,72,120,80,Above Normal,Normal,Non-Smoker,Non-Drinker,Does Exercise,No Cardio related Diesease,24.913495

In [73]:
bmi_ranges = []

if values_entered["BMI"] <= 18.5:
    bmi_ranges.append("Underweight")
elif values_entered["BMI"] > 18.5 and values_entered["BMI"] < 25:
    bmi_ranges.append("Normal")
elif values_entered["BMI"] > 25 and values_entered["BMI"] < 30:
    bmi_ranges.append("Overweight")
elif values_entered["BMI"] > 30:
    bmi_ranges.append("Obese")
print(bmi_ranges)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().